<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile colspan="1" rowspan="1">
    Basic Example
  </mat-grid-tile>
  <mat-grid-tile colspan="4" rowspan="1">
    <mat-button-toggle (click)="onAddRect()">AddRect</mat-button-toggle>
    <mat-button-toggle (click)="onAddArrow()">AddArrow</mat-button-toggle>
    <mat-button-toggle (click)="onAddEllipse()">AddEllipse</mat-button-toggle>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-button-toggle (click)="onAddCircle()">AddCircle</mat-button-toggle>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-button-toggle (click)="onScaleStage()">Scale Stage</mat-button-toggle>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <form>
      <mat-form-field>
        <input matInput type="number" name="scaleVal" [(ngModel)]="ScaleValue">
      </mat-form-field>
    </form>
  </mat-grid-tile>
  <mat-grid-tile id="testDiv" #tilePixi colspan="4" rowspan="6" (window:resize)="onTileResize($event)">
    <div #pixiContainer></div>
  </mat-grid-tile>
</mat-grid-list>

