<h2>Basic example</h2>
<mat-grid-list cols="7" rowHeight="100px">
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-button-toggle (click)="onAddRect()">Rect</mat-button-toggle>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-button-toggle (click)="onAddEllipse()">Ellipse</mat-button-toggle>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-button-toggle (click)="onAddLine()">Line</mat-button-toggle>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-button-toggle (click)="onAddPolyLine()">PolyLine</mat-button-toggle>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-button-toggle (click)="onAddPolygon()">Polygon</mat-button-toggle>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-button-toggle (click)="onAddPoint()">Point</mat-button-toggle>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-button-toggle (click)="onAddTest()">Test</mat-button-toggle>
  </mat-grid-tile>
  <mat-grid-tile id="testDiv" #tilePixi colspan="5" rowspan="6" (window:resize)="onTileResize($event)">
    <div #pixiContainer></div>
  </mat-grid-tile>
</mat-grid-list>

